</article>

<footer>
<div class="row">

<div class="column contact">
<ul><li>Hannupekka Sormunen</li>
<li><a href="mailto:hannupekka.sormunen@gmail.com">hannupekka.sormunen@gmail.com</a></li>
<li><br/></li>
<li><a href="https://github.com/sorhanp">Github</a></li>
<li><a href="https://gitlab.com/sorhanp">Gitlab</a></li>
<li><a href="https://www.linkedin.com/in/hannupekka-sormunen">LinkedIn</a></li>
</ul></div>

<div class="column legal"><ul>
<li>Licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></li>
<li>Created with a <a href="https://gitlab.com/sorhanp/ssg6fork">slightly modified</a> version of <a href="https://www.romanzolotarev.com/ssg.html">ssg</a> by Roman Zolotarev</li>
</ul></div>

</div>
</footer>

</body>
</html>